body{
  background: linear-gradient(rgb(132,205,238), rgb(185,226,245));
  min-height:100vh;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}
.container{
  background-color: #50b8e7;
  display: flex float;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 90px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 330px
}
.button{
  background-color: skyblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  margin-top: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button:hover{
  opacity:0.8;
}
.button:active{
  opacity:0.15s;
}
.remember{
  margin-right:5px;
}
.forgot{
  margin-right:47px;
  margin-left: 14px;
}
.forgot:hover{
  text-decoration: underline;
}
.user{
  width: 238px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.pass{
  width: 238px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.check{
  margin-left: 8px;
}
.text{
  color: white;
  text-align: center;
}
.account{
  margin-top: 45px;
}
